<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>ATEMBUS</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">



  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/css/headers.css" rel="stylesheet" type="text/css">
</head>

<body>

  <main>
    <!-- <div class="container"> -->
    <div>
      <div class="container">
      <header class="d-flex flex-wrap justify-content-center">

        <div class="dropdown">
          <button class="btn btn-secondary d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fs-4">ATEMBUS</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

      <!-- <a href="#collapseExample" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none"
        data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <span class="fs-4">ATEMBUS</span>
        </a> -->

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active">Create a Space</a></li>
        </ul>

        <!-- <p>
          <a class="btn btn-primary d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link with href
          </a>

          <span class="fs-4">HANDA</span>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active">Create a Space</a></li>
          </ul>
        </p> -->
        
        

        
      </header>

     
      </div>
    </div>

    <div class="collapse border-top" id="collapseExample">
      <div class="container">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>

    <!-- 여기다가 작업하세요 -->

    우와 우와 우와
   
  </main>

  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>



</body>

</html>