<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/css/join.css" rel="stylesheet">

  <title>HANDA</title>
</head>

<body>

  <main class="container">
    <h1 class="h1 mb-3 fw-normal text-center py-3">HANDA</h1>

    <div class="col-12 mb-3">
      <label for="name" class="form-label">이름</label>
      <input type="text" class="form-control" id="name" placeholder="username" aria-describedby="button-addon2"
        onchange="name_check()">
      <div id="n_c" class="ch_c"></div>
    </div>

    <div class="col-12 mb-3">
      <label for="email" class="form-label">이메일</label>
      <div class="input-group">
        <input type="email" class="form-control" id="email" placeholder="your email" aria-describedby="button-addon2"
          onchange="email_check()">
        <button class="btn btn-secondary" type="button" id="email_ok">중복 확인</button>
      </div>
      <div id="e_c" class="ch_c"></div>
    </div>

    <div class="col-12 mb-3">
      <label for="pwd1" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="pwd1" placeholder="password" aria-describedby="button-addon2"
        onchange="pwd_check()">
      <div id="p1_c" class="ch_c"></div>
    </div>

    <div class="col-12 mb-3">
      <label for="pwd2" class="form-label">비밀번호 확인</label>
      <input type="password" class="form-control" id="pwd2" placeholder="confirm password"
        aria-describedby="button-addon2" onchange="pw_rechek()">
      <div id="p2_c" class="ch_c"></div>
    </div>

    <div class="col-12 mb-3">
      <label for="tel" class="form-label">연락처</label>
      <input type="text" class="form-control" id="tel" placeholder="01011112222" aria-describedby="button-addon2"
        onchange="tel_check()">
      <div id="t_c" class="ch_c"></div>
    </div>

    <div class="col-12 mb-3">
      <label for="job" class="form-label">직업</label>

      <div class="input-group mb-3">
        <select class="form-select" id="job">
          <option selected>학생</option>
          <option value="1">취업준비생</option>
          <option value="2">회사원</option>
          <option value="3">기타</option>
        </select>
      </div>

    </div>


    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ch1">
        <label class="form-check-label" for="ch1">개인정보 수집 및 이용에 동의합니다.</label>
      </div>
      <div id="ch_c"></div>
    </div>

    <div class="mb-3">
      <button class="submit w-100 btn btn-lg btn-warning mb-5">회원가입</button>

    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
    function join(data) {
      console.log(data);
    }

    $(() => {
      // 회원가입 버튼 클릭시
      $('.submit').click(() => {
        var _name = $('#name').val();
        var _email = $('#email').val();
        var _pwd1 = $('#pwd1').val();
        var _pwd2 = $('#pwd2').val();
        var _tel = $('#tel').val();
        var _job = $('#job').val();

        var n_c = $('#n_c').text();
        var e_c = $('#e_c').text();
        var p1_c = $('#p1_c').text();
        var t_c = $('#t_c').text();


        if (n_c != "" || e_c != "" || p1_c != "" || t_c != "") {

        } else {
          // check 메시지가 모두 없을 때

          if (_name == "" || _email == "" || _pwd1 == "" || _tel == "" || $('#ch1').is(':checked') == false) {

            // 전체 입력 체크
            name_check();
            email_check();
            pwd_check();
            pw_rechek();
            tel_check();

            if ($('#ch1').is(':checked') == true) {
              $('#ch_c').text("");
            } else {
              $('#ch_c').text("* 체크해주세요.");
              $("#ch_c").css("color", "red");
            }


          } else {
            // 정보가 모두 입력되었을 때

            if ($("#email_ok").prop("disabled") == true) {
              // 이메일 중복 확인을 했을 때

              if (_pwd1 != _pwd2) {

              } else {
                // 비밀번호가 일치할 때
                $.ajax({
                  url: '/join',
                  type: 'post',
                  data: { "name": _name, "email": _email, "pwd": _pwd1, "tel": _tel, "job": _job },
                  success: function (result) {
                    if (result == "-1") {
                      throw console.error('회원가입 에러 발생');
                    }
                  },
                  error: function (error) {

                  },
                  complete: function (data) {
                    location.href = '/login';
                  }
                })

              }

            } else {
              $('#e_c').text("* 이메일 중복 확인을 해주세요.");
              $("#e_c").css("color", "red");
            }


          }
        }
      })

      // 이메일 중복확인 클릭시
      $('#email_ok').click(() => {

        if ($("#e_c").text() == "* 이메일 형식이 바르지 않습니다." || $("#email").val() == "") {

        } else {

          var _email = $('#email').val();

          $.ajax({
            async: false,
            url: '/join/email',
            type: 'post',
            data: { "email": _email },
            success: function (result) {

              if (result == '-1') {
                $('#e_c').text("* 이미 사용중인 이메일입니다.");
                $("#e_c").css("color", "red");
              }
              else if (result == '1') {
                $('#e_c').text("");
                $("#email_ok").attr("disabled", true)
              }

            },
            error: function (error) {

            },
            complete: function () {
            }
          })
        }
      })

      // 체크박스 값 변화시
      $('#ch1').change(() => {
        if ($('#ch1').is(':checked') == true) {
          $('#ch_c').text("");
        } else {
          $('#ch_c').text("* 체크해주세요.");
          $("#ch_c").css("color", "red");
        }
      })
    })
  </script>

  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/js/join.js"></script>

</body>

</html>