<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">

  <title>HANDA</title>
</head>

<body>

  <main class="form-signin">

    <form action="/login" method="post">
      <h1 class="h1 mb-3 fw-normal text-center py-3">HANDA</h1>

      <div class="form-floating">
        <input type="email" class="form-control mg-10" name="email" placeholder="name@example.com" value="<%=email %>" required>
        <label for="floatingInput">Email address</label>

        <!-- 잠깐 생략 -->
        <% if (message_email !='' ) {%>

          <span>
            <%= message_email %>
          </span>
          <% } %>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control mg-10" name="password" placeholder="Password" required>
        <label for="floatingPassword">Password</label>

        <!-- 잠깐 생략 -->
        <% if (message_pw !='' ) {%>
          <span>
            <%= message_pw %>
          </span>
          <% } %>
      </div>

      <div class="mg-10">
        <input type="submit" class="w-100 btn btn-lg btn-warning"  value="로그인" />

      </div>
    </form>

    <div class="text-center tf-7">
      <a href="/idPw">아이디 비밀번호 찾기</a> | 
      <a href="/join">회원가입</a>
    </div>

  </main>


</body>

</html>