<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>ATEMBUS</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">



    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/headers.css" rel="stylesheet" type="text/css">
</head>

<body>

    <main>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">HANDA</span>
                </a>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active">Create a Space</a></li>
                </ul>
            </header>
        </div>

        <!-- 여기다가 작업하세요 -->
        <!-- <div class="container">
            <div class="album py-3 ">
                <div class="row" id="test">
                    
                </div>
            </div>
        </div> -->
<div class = "container">
    <h1>과목명</h1>
    <h1>대표문제</h1>
        <!-- <div class="card w-75"> -->
            <div class="card-header">
                문제1
              </div>

          <div class="card" style="width: 18rem;">
            <img src="/images/heart.PNG" class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
          

        <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
        </div>
        
    </main>

    <!-- <script>
    var i = 5;
  
    var test = document.getElementById("test");
  
    var c = "";
  
    for(var a = 0; a < i; a ++){
      
    //   c += "<div class=\"col\">";
      c += "<div class=\"card\" style=\"width: 22rem;\">";
      c +=  "<img class=\"card_img\" src=\"/images/heart.PNG\" alt=\"\" />";
      c +=  "<div class=\"card-body\">";
      c += "<h5 class=\"card-title\">Lorem</h5>";
      c +=  "<a href=\"#\" class=\"btn btn-primary\">More</a>";
      c += "</div></div></div>";
  
    }
  
    test.innerHTML = c;
  </script> -->

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>



</body>

</html>