html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  /* background-color: #f6f5f3; */

  min-width: 768px;
}

.ch_c {
  color: red;
}
