html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  /* background-color: #f6f5f3; */

  min-width: 768px;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.mg-10 {
    margin-top: 5px;
}

span {
    text-align: left;
    font-size: 5px;
    padding-left: 15px;
    color: #dc3545;
}

.tf-7 {
  font-size: 12px;
  padding-top: 10px;
}