#mycontainer{
    margin: 0px 80px 0px 80px;
    padding: 0px 70px 10px 70px;
    border : 2px solid #ffc107;
}

#div1 {
    margin: 20px 0px 20px 0px ;
    
}

#infoline {
    height: 60px;
    text-align: left;
    line-height: 60px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 2px solid #ffc107;
  }

  
#div2 {
    margin: 20px 0px 20px 0px ;
    /* position: absolute; */
    
}

#people{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}


