html,
body {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    /* background-color: #f6f5f3; */

    min-width: 768px;
  }

.container {
    width: 80%;
    max-width: 400px;
    padding: 50px;
    margin: auto;
}

.ch_c {
    color: red;
}
