<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="id" /><br />
      <input type="password" name="password" placeholder="password" /><p>
      <input type="submit" value="로그인"/>
    </form>

    <a href="/signup">회원가입</a>
  </body>
</html>